<a href="https://colab.research.google.com/github/Felipecuestas98/Bootcamp-Mintic/blob/main/Ejercicio_banco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importa librerias de tratamiento, funciones y graficacion de datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# conecta el drive e importa el dataset del ejemplo para el ejercicio
from google.colab import drive
drive.mount('/content/drive')
ruta = '/content/drive/MyDrive/Bootcamp-Analiticas y Visualizacion de Datos/Copia de dataset_banco.csv'
data = pd.read_csv(ruta)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Validacion de nombre sin transformacion
print(data.shape)
data.head()

(45215, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [4]:
# renombrar las columnas a español
data_rename_2 = data.rename(columns={
                                     'age':       'edad',
                                     'job':       'empleo',
                                     'marital':   'estado civil',
                                     'education': 'escolaridad',
                                     'default':   'morosidad',
                                     'balance':   'saldo',
                                     'housing':   'vivienda',
                                     'loan':      'prestamo',
                                     'contact':   'contacto',
                                     'month':     'mes',
                                     'duration':  'duracion',
                                     'campaign':  'campaña',
                                     'pdays':     'diasprevios',
                                     'previous':  'anterior',
                                     'poutcome':  'resultado',
                                     'y':         'respuesta'})
print(data_rename_2)

       edad        empleo estado civil escolaridad morosidad   saldo vivienda  \
0        58    management      married    tertiary        no  2143.0      yes
1        44    technician       single   secondary        no    29.0      yes
2        33  entrepreneur      married   secondary        no     2.0      yes
3        47   blue-collar      married     unknown        no  1506.0      yes
4        33       unknown       single     unknown        no     1.0       no
...     ...           ...          ...         ...       ...     ...      ...
45210    51    technician      married    tertiary        no   825.0       no
45211    71       retired     divorced     primary        no  1729.0       no
45212    72       retired      married   secondary        no  5715.0       no
45213    57   blue-collar      married   secondary        no   668.0       no
45214    37  entrepreneur      married   secondary        no  2971.0       no

      prestamo   contacto  day  mes  duracion  campaña  diasprevios  anterior  \
0           no    unknown    5  may     261.0        1         -1.0         0
1           no    unknown    5  may     151.0        1         -1.0         0
2          yes    unknown    5  may      76.0        1         -1.0         0
3           no    unknown    5  may      92.0        1         -1.0         0
4           no    unknown    5  may     198.0        1         -1.0         0
...        ...        ...  ...  ...       ...      ...          ...       ...
45210       no   cellular   17  nov     977.0        3         -1.0         0
45211       no   cellular   17  nov     456.0        2         -1.0         0
45212       no   cellular   17  nov    1127.0        5        184.0         3
45213       no  telephone   17  nov     508.0        4         -1.0         0
45214       no   cellular   17  nov     361.0        2        188.0        11

      resultado respuesta
0       unknown        no
1       unknown        no
2       unknown        no
3       unknown        no
4       unknown        no
...         ...       ...
45210   unknown       yes
45211   unknown       yes
45212   success       yes
45213   unknown        no
45214     other        no

[45215 rows x 17 columns]