<a href="https://colab.research.google.com/github/Felipecuestas98/Bootcamp-Mintic/blob/main/Taller_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importar libreria para manipulacion de datos
import pandas as pd
import numpy as np

In [ ]:
#crea un DataFrame a partir de una hoja dentro del archivo de excel
df_1 = pd.read_excel("/content/drive/MyDrive/Bootcamp-Analiticas y Visualizacion de Datos/example_ventas.xlsx",sheet_name = 'Hoja 2')

In [ ]:
df_1

        Fecha   Region      Producto Vendedor  Ventas
0  2024-01-31  Central    Accesorios    David    8287
1  2024-02-01  Central    Accesorios    Karen    6909
2  2024-02-02  Central  Dispositivos    David   11420
3  2024-02-03  Central  Dispositivos    Karen   12948
4  2024-02-04  Central      Sistemas    David   20098
5  2024-02-05  Central      Sistemas    Karen   30633
6  2024-02-06     Este    Accesorios      Ana    9323
7  2024-02-07     Este    Accesorios    Lucas    7667
8  2024-02-08     Este  Dispositivos      Ana   10348
9  2024-02-09     Este  Dispositivos    Lucas    9312
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
12 2024-02-12    Oeste    Accesorios    Kevin    4744
13 2024-02-13    Oeste    Accesorios     Sara    5442
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
15 2024-02-15    Oeste  Dispositivos     Sara    8780
16 2024-02-16    Oeste      Sistemas    Kevin   32855
17 2024-02-17    Oeste      Sistemas     Sara   23151

In [ ]:
# Ejercicio 1: Muestra las primeras 5 filas del Dataframe
df_1.head(5)

       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
# Ejercicio 2: Muestra las ventas por region del Dataframe
Ventas_por_region = df_1.groupby('Region')['Ventas'].sum()
print(Ventas_por_region)

Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64

In [ ]:
# Ejercicio 3: Filtrar el Dataframe para mostrar solo las ventas realizadas por David
ventas_david = df_1[df_1['Vendedor'] == 'David']
print (ventas_david)

       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
2 2024-02-02  Central  Dispositivos    David   11420
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
# Ejercicio 4: Calcular el promedio de ventar por region
promedio_ventas_por_region = df_1.groupby('Region')['Ventas'].mean()
print(promedio_ventas_por_region)

Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [ ]:
# Ejercicio 5: Caluclar el promedio de ventas por region con dos decimales
promedio_ventas_por_region = df_1.groupby('Region')['Ventas'].mean().round(2)
print(promedio_ventas_por_region)

Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [ ]:
# Ejercicio 6 Ordenar el Dataframe por ventas en orden descendente
df_orden_desc = df_1.sort_values(by='Ventas', ascending=False)
print(df_orden_desc)

        Fecha   Region      Producto Vendedor  Ventas
16 2024-02-16    Oeste      Sistemas    Kevin   32855
5  2024-02-05  Central      Sistemas    Karen   30633
17 2024-02-17    Oeste      Sistemas     Sara   23151
4  2024-02-04  Central      Sistemas    David   20098
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
3  2024-02-03  Central  Dispositivos    Karen   12948
2  2024-02-02  Central  Dispositivos    David   11420
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
8  2024-02-08     Este  Dispositivos      Ana   10348
6  2024-02-06     Este    Accesorios      Ana    9323
9  2024-02-09     Este  Dispositivos    Lucas    9312
15 2024-02-15    Oeste  Dispositivos     Sara    8780
0  2024-01-31  Central    Accesorios    David    8287
7  2024-02-07     Este    Accesorios    Lucas    7667
1  2024-02-01  Central    Accesorios    Karen    6909
13 2024-02-13    Oeste    Accesorios     Sara    5442
12 2024-02-12    Oeste    Accesorios    Kevin    4744

In [ ]:
# Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menos
df_filtrado_ordenado = df_1[df_1['Ventas']>10000].sort_values(by='Ventas', ascending=False)
print(df_filtrado_ordenado)

        Fecha   Region      Producto Vendedor  Ventas
16 2024-02-16    Oeste      Sistemas    Kevin   32855
5  2024-02-05  Central      Sistemas    Karen   30633
17 2024-02-17    Oeste      Sistemas     Sara   23151
4  2024-02-04  Central      Sistemas    David   20098
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
3  2024-02-03  Central  Dispositivos    Karen   12948
2  2024-02-02  Central  Dispositivos    David   11420
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
8  2024-02-08     Este  Dispositivos      Ana   10348

In [ ]:
# Ejercicio 9: Eliminar la columna "Vendedor"
df_sin_vendedor = df_1.drop(columns=['Vendedor'])
print(df_sin_vendedor)

        Fecha   Region      Producto  Ventas
0  2024-01-31  Central    Accesorios    8287
1  2024-02-01  Central    Accesorios    6909
2  2024-02-02  Central  Dispositivos   11420
3  2024-02-03  Central  Dispositivos   12948
4  2024-02-04  Central      Sistemas   20098
5  2024-02-05  Central      Sistemas   30633
6  2024-02-06     Este    Accesorios    9323
7  2024-02-07     Este    Accesorios    7667
8  2024-02-08     Este  Dispositivos   10348
9  2024-02-09     Este  Dispositivos    9312
10 2024-02-10     Este      Sistemas   13531
11 2024-02-11     Este      Sistemas   13374
12 2024-02-12    Oeste    Accesorios    4744
13 2024-02-13    Oeste    Accesorios    5442
14 2024-02-14    Oeste  Dispositivos   10711
15 2024-02-15    Oeste  Dispositivos    8780
16 2024-02-16    Oeste      Sistemas   32855
17 2024-02-17    Oeste      Sistemas   23151

In [ ]:
# Ventas totales por vendedor
df_ventas_por_vendedor = df_1.groupby('Vendedor')['Ventas'].sum()
print(df_ventas_por_vendedor)

Vendedor
Ana      33202
David    39805
Karen    50490
Kevin    48310
Lucas    30353
Sara     37373
Name: Ventas, dtype: int64

In [ ]:
# Ventas por producto y vendedor
df_ventas_por_vendedoryproducto = df_1.groupby(['Producto','Vendedor'])['Ventas'].sum()
print(df_ventas_por_vendedoryproducto)

Producto      Vendedor
Accesorios    Ana          9323
              David        8287
              Karen        6909
              Kevin        4744
              Lucas        7667
              Sara         5442
Dispositivos  Ana         10348
              David       11420
              Karen       12948
              Kevin       10711
              Lucas        9312
              Sara         8780
Sistemas      Ana         13531
              David       20098
              Karen       30633
              Kevin       32855
              Lucas       13374
              Sara        23151
Name: Ventas, dtype: int64

In [ ]:
# Ventas por vendedor en cada region
df_ventas_por_vendedorenregion = df_1.groupby(['Region','Vendedor'])['Ventas'].sum()
print(df_ventas_por_vendedorenregion)

Region   Vendedor
Central  David       39805
         Karen       50490
Este     Ana         33202
         Lucas       30353
Oeste    Kevin       48310
         Sara        37373
Name: Ventas, dtype: int64

In [ ]:
# Ventas totales
df_ventas_totales = df_1['Ventas'].sum()
print(df_ventas_totales)

239533

In [ ]:
# Porcentaje de ventas de cada vendedor sobre el total
df_porcentaje_ventas_vendedor = df_1.groupby('Vendedor')['Ventas'].sum()/df_ventas_totales*100
df_porcentaje_ventas_vendedor_Descen = df_porcentaje_ventas_vendedor.sort_values(ascending=False).round(2)
print(df_porcentaje_ventas_vendedor_Descen)

Vendedor
Karen    21.08
Kevin    20.17
David    16.62
Sara     15.60
Ana      13.86
Lucas    12.67
Name: Ventas, dtype: float64

In [ ]:
# convierte la columna fechas a tipo Datetime
df_1['Fecha'] = pd.to_datetime(df_1['Fecha'])
# Crea el Dataframe de ventas totales por mes
df_ventas_por_mes = df_1.groupby(df_1['Fecha'].dt.to_period('M'))['Ventas'].sum()
print(df_ventas_por_mes)

Fecha
2024-01      8287
2024-02    231246
Freq: M, Name: Ventas, dtype: int64

In [ ]:
# Porcentaje de ventas por region sobre el total
df_porcentaje_ventas_region = df_1.groupby('Region')['Ventas'].sum()/df_ventas_totales*100
df_porcentaje_ventas_region_descen = df_porcentaje_ventas_region.sort_values(ascending=False).round(2)
print(df_porcentaje_ventas_region_descen)

Region
Central    37.70
Oeste      35.77
Este       26.53
Name: Ventas, dtype: float64

In [ ]:
# Region que mas vende y cuanto vende
print(Ventas_por_region.idxmax())
print(Ventas_por_region.max())

Central
90295

In [ ]:
# Vendedor que mas vende y cuanto vende
print(df_ventas_por_vendedor.idxmax())
print(df_ventas_por_vendedor.max())

Karen
50490